<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>Servlets.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUsuario</servlet-name>
        <servlet-class>Servlets.ValidarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quit</servlet-name>
        <servlet-class>Servlets.Quit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscricao</servlet-name>
        <servlet-class>Servlets.Inscricao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelecionaEdital</servlet-name>
        <servlet-class>Servlets.SelecionaEdital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pesquisa</servlet-name>
        <servlet-class>Servlets.Pesquisa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MandarEmail</servlet-name>
        <servlet-class>Servlets.MandarEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenha</servlet-name>
        <servlet-class>Servlets.AlterarSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LancarEdital</servlet-name>
        <servlet-class>Servlets.LancarEdital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraEdital</servlet-name>
        <servlet-class>Servlets.CadastraEdital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelecionaEditalProf</servlet-name>
        <servlet-class>Servlets.SelecionaEditalProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunosInscritos</servlet-name>
        <servlet-class>Servlets.AlunosInscritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LancarNota</servlet-name>
        <servlet-class>Servlets.LancarNota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraSenhaConf</servlet-name>
        <servlet-class>Servlets.AlteraSenhaConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarEmailConf</servlet-name>
        <servlet-class>Servlets.AlterarEmailConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarNomeConf</servlet-name>
        <servlet-class>Servlets.AlterarNomeConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarNotas</servlet-name>
        <servlet-class>Servlets.ValidarNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelecionaEditaisAluno</servlet-name>
        <servlet-class>Servlets.SelecionaEditaisAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aprovados</servlet-name>
        <servlet-class>Servlets.Aprovados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aprova</servlet-name>
        <servlet-class>Servlets.Aprova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEdital</servlet-name>
        <servlet-class>Servlets.ExcluirEdital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPrivilegioUsuario</servlet-name>
        <servlet-class>Servlets.AlterarPrivilegioUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuarioPesquisa</servlet-name>
        <servlet-class>Servlets.ListaUsuarioPesquisa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssociarAvaliadorEtapa</servlet-name>
        <servlet-class>Servlets.AssociarAvaliadorEtapa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelecionaEditalProfAvaliador</servlet-name>
        <servlet-class>Servlets.SelecionaEditalProfAvaliador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarUsuario</servlet-name>
        <url-pattern>/ValidarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quit</servlet-name>
        <url-pattern>/Quit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscricao</servlet-name>
        <url-pattern>/Inscricao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelecionaEdital</servlet-name>
        <url-pattern>/SelecionaEdital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pesquisa</servlet-name>
        <url-pattern>/Pesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MandarEmail</servlet-name>
        <url-pattern>/MandarEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenha</servlet-name>
        <url-pattern>/AlterarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LancarEdital</servlet-name>
        <url-pattern>/LancarEdital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraEdital</servlet-name>
        <url-pattern>/CadastraEdital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelecionaEditalProf</servlet-name>
        <url-pattern>/SelecionaEditalProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunosInscritos</servlet-name>
        <url-pattern>/AlunosInscritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LancarNota</servlet-name>
        <url-pattern>/LancarNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraSenhaConf</servlet-name>
        <url-pattern>/AlteraSenhaConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarEmailConf</servlet-name>
        <url-pattern>/AlterarEmailConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarNomeConf</servlet-name>
        <url-pattern>/AlterarNomeConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarNotas</servlet-name>
        <url-pattern>/ValidarNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelecionaEditaisAluno</servlet-name>
        <url-pattern>/SelecionaEditaisAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aprovados</servlet-name>
        <url-pattern>/Aprovados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aprova</servlet-name>
        <url-pattern>/Aprova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEdital</servlet-name>
        <url-pattern>/ExcluirEdital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPrivilegioUsuario</servlet-name>
        <url-pattern>/AlterarPrivilegioUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuarioPesquisa</servlet-name>
        <url-pattern>/ListaUsuarioPesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssociarAvaliadorEtapa</servlet-name>
        <url-pattern>/AssociarAvaliadorEtapa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelecionaEditalProfAvaliador</servlet-name>
        <url-pattern>/SelecionaEditalProfAvaliador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
